* {
    margin: 0 auto;
    box-sizing: border-box
}

body {
    background-color: rgb(221, 221, 221);
    color: #222;
}

.container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

nav {
    margin: 0 !important;
    background-color: #666 !important;
}

.nav-link.active,
.nav-link:hover {
    background-color: #444 !important;
    color: white !important;
}

.nav-link {
    color: #222 !important;
}

.main {
    display: flex;
    margin: 30px;
}

.column {
    background-color: rgba(233, 233, 233, 0.596);
    flex: 1;
    margin-right: 60px;
    padding: 15px;
}

.posty {
    font-size: 20px;
    padding-bottom: 10px;
}

.btn {
    margin-left: 30% !important;
    margin-right: 30% !important;
}

.more-info {
    color: #666;
    padding: 10px 35%;
    text-decoration: none;
}

.more-info:hover {
    color: white;
}

.list-group-item {
    margin: 0 !important;
}

.list-group-item.active,
.list-group-item:hover {
    background-color: #444;
    border: 1px solid #444;
    color: white;
}

.footer {
    background: #999;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: white;
}


/* Media Queries */

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .column {
        margin: 0;
    }
    .card {
        max-width: 100%;
    }
}